@charset "UTF-8";
/* ESTILOS NAVBAR */
/* line 8, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.ph-youtube-logo,
.ph-instagram-logo {
  font-size: 24px;
  line-height: 1;
}

/* line 14, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ECECEC;
  color: #241ECE;
  border-radius: 100%;
}

/* line 24, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.icon-button:hover {
  background-color: #241ECE;
  color: #ffffff;
}

/* line 29, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.icon-button:visited {
  color: #241ECE;
}

/* line 32, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.icon-button:visited:hover {
  color: #ffffff;
}

/* line 40, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.navbar-light .navbar-nav .nav-link {
  color: #787878;
}

/* line 43, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: #241ECE;
  font-weight: 600;
}

/* line 48, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.navbar-light .navbar-nav .nav-link.active {
  color: #241ECE;
  font-weight: 600;
  border-bottom: solid 3px #241ECE;
}

/* line 53, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.navbar-light .navbar-nav .nav-link.active:hover {
  color: #241ECE;
  font-weight: 600;
  border-bottom: solid 3px #241ECE;
}

/* Estilos sticky */
/* line 64, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.sticky-top {
  border-bottom: solid 1px #ECECEC;
}

/* ESTILOS HERO */
/* Estilo para el contenedor del hero */
/* line 70, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.banner-container {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  /* padding-bottom: 42.55%; */
}

/* Estilo para el banner principal (imagen de fondo) */
/* line 79, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/inicio/Banner.jpg");
  background-size: cover;
  background-position: bottom;
}

/* Estilo para el overlay */
/* line 91, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Estilo para el texto en el centro */
/* line 101, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

/* ESTILOS CARRUSEL CARDS PROMESAS */
/* line 111, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
#hero {
  position: relative;
  z-index: 1;
}

/* line 116, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.main-inicio {
  position: relative;
  z-index: 2;
  margin-top: -48px;
}

/* line 122, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.card {
  border: none;
  border-radius: 1rem;
  box-shadow: 16px 16px 64px 0px rgba(207, 0, 152, 0.05), 8px 8px 24px 0px rgba(36, 30, 206, 0.05), 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

/* line 127, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.card .card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* ESTILOS BUTTON */
/* line 134, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.btn-primary {
  color: #ffffff;
  background-color: #241ECE;
  border-color: #241ECE;
}

/* line 139, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.btn-primary:hover {
  color: #ffffff;
  background-color: #190F57;
  border-color: #190F57;
}

/* line 146, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.btn-primary.btn-check:focus + .btn-primary, .btn-primary.btn-check:focus:focus {
  color: #ffffff;
  background-color: #241ECE;
  border-color: #241ECE;
  box-shadow: 0 0 0 0.25rem rgba(255, 58, 203, 0.25);
}

/* ESTILOS SINOPSIS */
/* line 157, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.img-320 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

/* ESTILOS PREMIOS */
/* line 165, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.img-premio {
  filter: grayscale(100%);
}

/* line 168, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.img-premio:hover {
  filter: none;
}

/* ESTILOS SECTIONS */
/* line 174, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.bg-gray {
  background-color: rgba(236, 236, 236, 0.2);
}

/* ESTILOS FOOTER */
/* line 179, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.img-bg-footer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-image: url("../img/inicio/image-footer.jpg");
  background-size: cover;
  background-position: top;
}

/* ESTILOS BANNER INTERNO */
/* line 191, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.banner-interno-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

/* line 197, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.banner-interno-container .banner-interno {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/brand/Banner-interno.jpeg");
  background-size: cover;
  background-position: center;
}

/* ESTILOS GALERÍA */
/* line 210, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.gallery-item {
  overflow: hidden;
  position: relative;
  padding-top: 100%;
  border-radius: 16px;
}

/* line 216, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

/* line 225, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.gallery-item img:hover {
  transform: scale(1.2);
}

/* Estilo para las imágenes rectangulares */
/* line 232, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.gallery-item-rectangular {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: 16px;
}

/* line 238, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.gallery-item-rectangular img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

/* line 247, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.gallery-item-rectangular img:hover {
  transform: scale(1.2);
}

/* ESTILOS REPARTO */
/* line 254, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.ImgReparto {
  width: 50%;
  height: 400px;
  object-fit: scale-down;
}

/* ESTILOS AUTOR */
/* line 262, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.img-200 {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ESTILOS TRAILER */
/* line 269, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
#trailer {
  margin: 32px;
}

/* line 273, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.video-yt {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

/* line 278, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.video-yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  box-shadow: 16px 16px 64px 0px rgba(207, 0, 152, 0.05), 8px 8px 24px 0px rgba(36, 30, 206, 0.05), 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

/* line 289, ../../../../../../../../../../../../../Users/davidarboleda/Documents/David/Ed. Continua/Coder/Desarrollo Web/_Proyecto/2-Preentrega-David Arboleda/YourName/sass/estilos.scss */
.FondoOscuro {
  background: linear-gradient(to bottom, rgba(255, 192, 203, 0.8) 0%, rgba(255, 192, 203, 0) 100%);
  z-index: 1;
  position: relative;
}

/*# sourceMappingURL=estilos.css.map */